<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>550952461267-ub1f2eu6ici7c9u1c6o13rk1mviu396u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.550952461267-ub1f2eu6ici7c9u1c6o13rk1mviu396u</string>
	<key>API_KEY</key>
	<string>AIzaSyDbIMcupKw3Fy4N_3QVVgMuWhA9ShS7LPI</string>
	<key>GCM_SENDER_ID</key>
	<string>550952461267</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.garden</string>
	<key>PROJECT_ID</key>
	<string>garden-381804</string>
	<key>STORAGE_BUCKET</key>
	<string>garden-381804.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:550952461267:ios:4129c55b1a880c01618526</string>
</dict>
</plist>